<html>
<head>
	<title>Peanut Butter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/peanutButter.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 	<script ser="/js/auth.js"></script>
	<script src="/js/search.js"></script> -->
	

</head>

<body>
  <nav class="container navbar navbar-default purple">
        <a class="navbar-brand"><img class="picture img-fluid" src="https://i.imgur.com/f6v1LWI.jpg">
        </a>
        <h3>Peanut Butter</h3>
  </nav>
	<div class="navLink container" id='homeContent'>
		<!--Search bar -->
		<div class="container">
			<div class="row">
	        <div class="col-sm-6 col-sm-offset-3">
	            <div id="imaginary_container">
	                <form id="search" class="input-group stylish-input-group" action="/add" role="form" method="get">
	                    <input type="text" class="form-control"  placeholder="Search for a SONG" value="" name="search">
	                    <span class="input-group-addon">
	                        <button type="submit">
	                            <span class="glyphicon glyphicon-search"></span>
	                        </button>
	                    </span>
	                </form>
	            </div>
	        </div>
		  </div>
	  </div>

		<!--Recent bar-->
	  <div class="container">
					<h2>Recent Searches...</h2>
		</div>
		<!--Beginning of accordion widgets-->
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		    	{{#each songs}}
		        <div class="panel panel-default"> <!-- Start of element -->
		            <div class="panel-heading">
		            	<h4 class="panel-title">
		  
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{songId}}"><span class="glyphicon glyphicon-menu-right"></span>{{name}}</a>
		                </h4>
		            </div>
		            <div id=collapse{{songId}} class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>{{album}}</strong></p>
		                    <ul>
													<li><a href="#" class='song' id="{{songId}}" data-element="#karaokeContent">Karaoke{{songId}}x</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#lyricsContent">Lyrics</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#chordsContent">Chords</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#infoContent">Song Info</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->		   
		        {{/each}}
		    </div>
		</div> <!--End of accordion widgets-->

	</div> <!--End of homepage-->

 	<div class="navLink container" id='karaokeContent' style="display: none;">
		<h1 class="lyricTitle">Karaoke </h1>
		<div class='video-container'>
			<iframe id="videoPlayer"
    		src="https://www.youtube.com/embed/J3_DL0q9oq4" frameborder="0"
    		allow="autoplay; encrypted-media" allowfullscreen>
    	</iframe>
	  </div>
	</div>
	<div class="navLink container" id='lyricsContent' style="display: none;">
		<h1 class="lyricTitle">Lyrics</h1>
		<h6 id="lyricText" class="bottom-gap">No Song Currently Playing</h6>
	</div>
	<div class="navLink container" id='chordsContent' style="display: none;">
		<h1 class="lyricTitle">Chords<h1>
			<h6 id="songChords" class="bottom-gap">No Song Currently Playing</h6>
	</div>
	<div class="navLink container" id='infoContent' style="display: none;">
		<h1 class="lyricTitle">Song Information</h1>
			<a><img class="picture" id="songImages" src="#"></a>
			<h6 id="songInformation" class="bottom-gap">No Song Currently Playing</h6>
	</div>
 <!-- 	<div class="navLink container" id='favoriteContent' style="display: none;">
		<h3>Favorites</h3>
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-menu-right"></span>Hips Don't Lie - Shakira</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Oral Fixation</strong></p>
		                    <ul>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#karaokeContent">Karaoke</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#lyricsContent">Lyrics</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#chordsContent">Chords</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#infoContent">Song Info</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div>  End of element
				</div>
			</div>
	</div> -->
	  <!-- Navigation bar -->
  <div>
  	<ul class="nav navbar-nav">
			<li><a href="#" data-element="#homeContent" class="glyphicon glyphicon-home"></a></li>
			<li><a href="#" data-element="#karaokeContent">Karaoke</a></li>
			<li><a href="#" data-element="#lyricsContent">Lyrics</a></li>
			<li><a href="#" data-element="#chordsContent">Chords</a></li>
			<li><a href="#" data-element="#infoContent">Song Info</a></li>
			<!-- <li><a href="#" data-element="#favoriteContent">Favorites</a></li> -->
		</ul>
  </div>
  <script type="text/javascript" src='/js/peanutButter.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="auth.js"></script>
  <script src="search.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

</body>
</html>
