<html>
<head>
	<title>Peanut Butter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content='1031753842336-vpo9rpm2evr2o0funsq64v426b29c7r2.apps.googleusercontent.com'>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

	<link href="https://fonts.googleapis.com/css?family=Lato|Pacifico" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- test -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="/css/peanutButter.css">

</head>

<body>
 	<div class='container'>
		<!--Google login-->
		<div id='signin' class="g-signin2" data-onsuccess="onSignIn" style='padding-top:10px;float:right;'></div>
	</div>
	<div class='container'><div id='signout' onclick="signOut();" style='float:right;'>Sign out</div></div>
  <nav class="container navbar navbar-default purple">
        <a class="navbar-brand"><img class="picture img-fluid" id="logo" src="https://i.imgur.com/f6v1LWI.jpg">
        </a>
        <h2 id="jumboTitle">Peanut  Butter</h2>
				<h4 id="jumboDescription">...because it's the jam</h4>
  </nav>

	<!--Login page tab-->
	<div class='container'>
		<div id='loginPage'>

		</div>
  </div>

	<div class="navLink container" id='homeContent'>
		<h3 id='welcome'></h3>
		<!--Search bar -->
		<div class="container">
			<div class="row">
	        <div class="col-sm-6 col-sm-offset-3">
	            <div id="imaginary_container">
	                <div class="input-group stylish-input-group ">
												<input type="text" class="form-control" placeholder="Search for a SONG" name="search" id='inputSong'>
	                    <span class="input-group-addon">
	                        <button type="submit" id ='submit'>
	                            <span class="glyphicon glyphicon-search"></span>
	                        </button>
	                    </span>
	                </div>
	            </div>
	        </div>
		  </div>
	  </div>

		<!--This feature is displayed when someone enters in a search in the search
				bar that is not found in the Json data-->
		<div class='container'>
				<div id='notFound' style="display: none;">
				</div>
		</div>

		<!--Recent bar-->
	  <div class="container">
					<h3 id="Searching">Recent Searches</h3>
					<h4 id="searchingDetail"></h4>
		</div>
		<!--Beginning of accordion widgets-->
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		    	{{#each songs}}
		        <div class="panel panel-default"> <!-- Start of element -->
		            <div class="panel-heading">
		            	<h4 class="panel-title">

		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{songId}}"><span class="glyphicon glyphicon-menu-right"></span>{{name}}</a>
		                </h4>
										<h5>{{artist}}</h5>
		            </div>
		            <div id=collapse{{songId}} class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Album:  {{album}}</strong></p>
		                    <ul>
													<li><a href="#" class='song' id="{{songId}}" data-element="#karaokeContent">Karaoke</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#lyricsContent">Lyrics</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#chordsContent">Chords</a></li>
													<li><a href="#" class='song' id="{{songId}}" data-element="#infoContent">Song Info</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div> <!-- End of element-->
		        {{/each}}
		    </div>
		</div> <!--End of accordion widgets-->

	</div> <!--End of homepage-->

 	<div class="navLink container" id='karaokeContent' style="display: none;">
		<h1 class="lyricTitle">Karaoke </h1>
		<div class='video-container'>
			<iframe id="videoPlayer"
    		src="https://www.youtube.com/embed/J3_DL0q9oq4" frameborder="0"
    		allow="autoplay; encrypted-media" allowfullscreen>
    	</iframe>
	  </div>
	</div>
	<div class="navLink container" id='lyricsContent' style="display: none;">
		<h1 class="lyricTitle">Lyrics</h1>
		<h6 id="lyricText" class="bottom-gap">No Song Currently Playing</h6>
	</div>
	<div class="navLink container" id='chordsContent' style="display: none;">
		<h1 class="lyricTitle">Chords<h1>
			<h6 id="songChords" class="bottom-gap">No Song Currently Playing</h6>
	</div>
	<div class="navLink container" id='infoContent' style="display: none;">
		<h1 class="lyricTitle">Song Information</h1>
			<a><img class="picture" id="songImages" src="#"></a>
			<h6 id="songInformation" class="bottom-gap">No Song Currently Playing</h6>
	</div>
	<div class="navLink container" id='favoriteContent' style="display: none;">
		<h3>Favorites</h3>
		<div class="accordionWidget">
		    <div class="panel-group" id="accordion">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-menu-right"></span>Hips Don't Lie - Shakira</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                    <p><strong>Oral Fixation</strong></p>
		                    <ul>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#karaokeContent">Karaoke</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#lyricsContent">Lyrics</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#chordsContent">Chords</a></li>
													<li><a href="#" class='song' id="Hips Don't Lie" data-element="#infoContent">Song Info</a></li>
		              			</ul>
		                </div>
		            </div>
		        </div>  <!--End of element-->
				</div>
			</div>
	</div>

	  <!-- Navigation bar -->

  	<ul class="nav navbar-nav  container">

			<!--Currently playing text block-->


			<h5 id ='currentlyPlaying'>Currently Playing:</h5>
			<h4 class="lyricTitle"></h4>

			<!-- <li><a href="#" data-element="#homeContent">Home</a></li>
			<li><a href="#" data-element="#karaokeContent">Karaoke</a></li>
			<li><a href="#" data-element="#lyricsContent">Lyrics</a></li>
			<li><a href="#" data-element="#chordsContent">Chords</a></li>
			<li><a href="#" data-element="#infoContent">Song Info</a></li>
			<li><a href="#" data-element="#favoriteContent">Favorites</a></li> -->
			<div class="row navBottom">
      <div class="col-xs-2"<li><a href="#" data-element="#homeContent">Home </a></li></div>
      <div class="col-xs-2"<li><a href="#" data-element="#karaokeContent">Karaoke </a></li></div>
      <div class="col-xs-2"<li><a href="#" data-element="#lyricsContent">Lyrics </a></li></div>
      <div class="col-xs-2"<li><a href="#" data-element="#chordsContent">Chords </a></li></div>
      <div class="col-xs-3"<li><a href="#" data-element="#infoContent">Song Info </a></li></div>
      <!-- <div class="col-xs-2"<li><a href="#" data-element="#favoriteContent">Favorites</a></li></div> -->

    </div>
		</ul>
  </div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript" src='/js/peanutButter.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<!--<script src="auth.js"></script>
	<script src="search.js"></script>-->
	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>

</body>
</html>
